$green: #53cbaf !default;
$blue: #1890ff !default;
$yellow: #fdcd05 !default;
$sunglow: #feca32;
$golden-brown: #a1620f;
$raw-umber: #6e440b;
$white: #ffffff;

$eye-color: $golden-brown;
$face-color: $sunglow;
$mouth-color: $raw-umber;
$shine-color: $white;
