@import '../abstract/variables';

html,
body {
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}

.ant {
  &-layout {
    background: unset !important;
  }
  &-card {
    &-grid {
      padding: 10px;
    }
    &-body {
      padding: unset !important;
    }
  }
  &-btn {
    &-primary {
      background-color: $green;
      border-color: $green;
      &:hover,
      &:focus {
        background-color: $green;
        border-color: $green;
      }
    }
    &-background {
      &-ghost {
        &.ant-btn-primary {
          color: $green;
          border-color: $green;
        }
      }
    }
  }
}
