@import '@/assets/scss/helpers/_inherits.scss';
@import '@/assets/scss/abstract/_variables.scss';

.app {
  &-layout {
    &-form {
      padding: 0;
      margin: 0;
      background-color: $white;
    }
  }
}
