@import '@/assets/scss/helpers/_inherits.scss';

.app {
  &-layout {
    &-list {
      margin: 0;
      &--center {
        @extend %center;
      }
      &-card {
        padding: unset !important;
        &-grid {
          width: 100% !important;
          text-align: center;
        }
      }
    }
  }
}
.ant {
  &-card {
    &-body {
      padding: unset !important;
    }
  }
}
