@import '@/assets/scss/abstract/_variables.scss';

.app {
  &-layout {
    &-list {
      &-card {
        padding: unset !important;
        background-color: rgba($color: $green, $alpha: 0.03);

        &-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &-grid {
          height: 240px;
          overflow: hidden;
          width: 100% !important;
          text-align: center;

          input,
          textarea {
            border: 2px dotted transparent;
            background-color: rgba($color: $green, $alpha: 0);

            &:focus,
            &:hover {
              border: 2px dotted $yellow;
              color: #fff;
              background-color: $green;
              box-shadow: unset;
            }
          }

          &-info {
            font-style: italic;
            margin: 5px 0 0 0;
          }

          &-divider {
            margin-bottom: 10px;
          }
        }
      }
    }
    &-no_todo {
      display: flex;
      align-items: center;
      flex-direction: column;
      & > * {
        margin: 2rem 0;
      }
    }
  }
}
