.app {
  &-layout {
    &-list {
      &-card {
        &-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        padding: unset !important;
        &-grid {
          width: 100% !important;
          text-align: center;
        }
      }
    }
  }
}
