@import '@/assets/scss/abstract/_variables.scss';
@import '@/assets/scss/helpers/_inherits.scss';

.app {
  &-layout {
    &-nav {
      position: fixed;
      z-index: 999;
      width: 100%;
      color: #fff;

      @extend %default-background;
      @extend %def-box-shadow;

      &-logo {
        width: 120px;
        height: 65px;
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: 4px;
      }

      &-counters {
        font-size: 1.5rem;
        text-align: center;
        &--title {
          &::after {
            content: ' » ';
            padding: 5px;
          }
        }
        &--destaq {
          font-size: 1.8rem;
          font-weight: bold;
          width: 64px;
          height: 64px;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.2);
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
}

.ant {
  &-menu {
    &-dark {
      @extend %default-background;
    }
  }
  &-layout {
    &-header {
      line-break: unset !important;
      background: unset !important;
    }
    &-nav {
      &-menu {
        @extend %default-background;
      }
    }
  }
}

%default-background {
  background-color: $green !important;
}
