%center {
  text-align: center;
  align-content: center;
}

%centered-element-position {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%def-box-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
